title: "Yeonchaking Blog"
description: "Android, BodyCam 개발 기록"
remote_theme: "mmistakes/minimal-mistakes"
repository: yeonchaking/yeonchaking.github.io

plugins:
  - jekyll-include-cache
  - jekyll-seo-tag
  - jekyll-paginate

markdown: kramdown
paginate: 5
paginate_path: "/page:num/"

collections:
  posts:
    output: true
    permalink: /:categories/:title/

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
